{% extends "base.html" %}
{% block content %}
<h1 id="homepage_header">Final project</h1>
<h2>Statistics</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Skill</th>
            <th>Number</th>
        </tr>
    </thead>
    <tbody>
        {% for job, count in  counter %}
            <tr>
                <td>{{ job }}</td>
                <td>{{ count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<img src="{{ url_for('bp.image') }}" class="rounded mx-auto d-block" alt="Plot with analysis">

{% endblock content %}